@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.position-absolute {
  position: absolute;
}

.z-100 {
  z-index: 100;
}

/**
* text styles
*/
.text-aqua {
  color: aqua;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-sans {
  font-family: sans-serif;
}
.text-2xl {
  font-size: 20;
}
.text-decoration-none {
  text-decoration: none;
}

/* Turn links white when hovering */
a:hover {
  color: white;
}
