@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/**
* layout styles
*/
.bg-black {
  background-color: black;
}
.h-full {
  height: 100dvh;
}
.w-full {
  width: 100dvw;
}
.position-absolute {
  position: absolute;
}
.px-8 {
  padding-left: 8;
  padding-right: 8;
}
.py-2 {
  padding-top: 2;
  padding-bottom: 2;
}

/**
* text styles
*/
.text-cyan {
  color: cyan;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-sans {
  font-family: sans-serif;
}
.text-2xl {
  font-size: 20;
}
.text-decoration-none {
  text-decoration: none;
}

/* Turn links white when hovering */
a:hover {
  color: white;
}
